@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap');

// Set your brand colors
$blue: #00ADEF;
$red: #EF4123;
$green: #A6CE39;
$off-white: #fcfcfc;
$grey-level1: #3b4249;
$grey-level2: #262e35;
$grey-level3: #192026;
$grey-level4: #13181D;

// Update Bulma's global variables
$family-sans-serif: "Noto Sans", sans-serif;
$grey-dark: $grey-level3;
$grey-light: $grey-level1;
$primary: $blue;
$link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;
$bulma-navbar-height: 8rem;
$tabs-border-bottom-color: $blue;
$bulma-progress-value-background-color: $green;

// Update some of Bulma's component variables
$body-background-color: $grey-level2;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$font-stack: "Noto Sans", sans-serif;

body {
  font: 100% $font-stack;
  color: $off-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Unica One', sans-serif;
  text-transform: uppercase;
  color: $off-white;
}

h1 {
    font-size:3.5em;
  }
  h2 {
    font-size:2.75em;
}
  h3 {
    font-size:2.25em;
  }
  h4{
    font-size:1.75em;
  }
  h5{
    font-size: 1.125em;
  }

p {
    font-size: 1.2rem;
    color: $off-white;
}

section {
    padding: 2rem;
    margin-bottom: 2rem;
}

section.highlight {
    background-color: $grey-level1;
}

nav {
    background-color: $grey-level4;

    .navbar{
        min-height:2rem;
    }
}

.red {
    color: $red;
}

.red-bg{
    background-color: $red;
    color: $off-white
}

.blue {
    color: $blue;
}

.blue-bg{
    background-color: $blue;
    color: $off-white
}

.green{
    color: $green;
}

.green-bg{
    background-color: $green;
    color: $off-white
}

.grey-bg{
    background-color: $grey-level2;
    color: $off-white
}

.highlight-box {
    background-color: $grey-level2;
    text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}

.icon-highlight {
    font-size: 3rem;
    padding: 0.5em 0;
    text-align: center;
}

.small {
    font-size: 75%;
}

.bookings {
    margin: 3em 0;
    padding: 1em;
}
.booking {
    margin:0.2em 0;
}

.observation-summary {
    display: table; 
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.2rem;
    div { 
        display: table-row; 
        background-color: $grey-level2;
        color: $off-white;
        div { 
            display: table-cell;
            padding: 5px;
            width: 50%;
        }
    }
}

