@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap");
#app {
  flex: 1;
}

html {
  background-color: #192026;
}

body {
  font: 100% "Noto Sans", sans-serif;
  color: #fcfcfc;
  background-color: #192026;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Unica One", sans-serif;
  text-transform: uppercase;
  color: #fcfcfc;
}

footer.footer {
  background-color: #13181D;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.125em;
}

p {
  font-size: 1.2rem;
  color: #fcfcfc;
}

section {
  padding: 2rem;
  margin-bottom: 2rem;
}

section.highlight {
  background-color: #3b4249;
}

nav {
  background-color: #13181D;
}
nav .navbar {
  min-height: 2rem;
}

h1.site-name {
  overflow: visible;
  white-space: nowrap;
}

.delete {
  left: 100%;
}

.red {
  color: #EF4123;
}

.red-bg {
  background-color: #EF4123;
  color: #fcfcfc;
}

.blue {
  color: #00ADEF;
}

.blue-bg {
  background-color: #00ADEF;
  color: #fcfcfc;
}

.green {
  color: #A6CE39;
}

.green-bg {
  background-color: #A6CE39;
  color: #13181D;
}

.grey-bg {
  background-color: #3b4249;
  color: #fcfcfc;
}

/* Highlight boxes */
.highlight-title {
  color: #fcfcfc;
  font-family: "Unica One", sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 0.5em 0;
}

.highlight-box {
  background-color: #262e35;
  text-align: center;
}

.highlight-target-field {
  border-radius: 5px;
  border-color: #A6CE39;
  border-style: solid;
  padding: 5px;
}

.highlight-target-field .button {
  background-color: #00ADEF;
  color: #13181D;
}

.times {
  padding: 10px 10px 10px 0;
}

[class^=icon-], [class*=" icon-"] {
  display: inline-block;
  width: 100%;
}

.icon-highlight {
  font-size: 3rem;
  padding: 0.5em 0;
  text-align: center;
}

.target-highlight {
  background-color: #3b4249;
}

.target-highlight:hover {
  background-color: #00ADEF;
  color: #192026;
}
.target-highlight:hover .card-header-title {
  color: #192026;
}

.target-highlight .card-header {
  box-shadow: none;
}

.small {
  font-size: 75%;
}

.bookings, .observations {
  margin: 1em 0;
  padding: 1em;
}

.table-summary {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.2rem;
}
.table-summary div {
  display: table-row;
  background-color: #262e35;
  color: #fcfcfc;
}
.table-summary div div {
  display: table-cell;
  padding: 5px;
  width: 50%;
}

.content .icon-text-list ul {
  display: inline-grid;
}

.button {
  border-color: #00ADEF;
  color: #fcfcfc;
}

.button:hover {
  background-color: #00ADEF;
  color: #3b4249;
}

.mosaic:hover,
input[type=radio]:checked + label {
  background-color: #00ADEF;
  color: #3b4249;
}

.observe-form .field-body {
  flex-grow: 2;
}

.image-capture-grid {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense; /* [2] */
  grid-template-columns: repeat(auto-fit, 10rem); /* [1] */
  justify-content: center;
}

.image-capture-grid > div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-capture .icon-text {
  font-size: 1.5em;
}

.image-capture .icon-text > span {
  vertical-align: middle;
  font-family: "Unica One", sans-serif;
  text-transform: uppercase;
}

.status-in-progress {
  color: #00ADEF;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.hide {
  display: none;
}

/*# sourceMappingURL=ptr_main.css.map */
